<div class="container col-4 form-group text-center">
    <form role="form" id="word-addForm" onsubmit="return false;">
        <div>
            <label for="newRussianName">Russian name</label>
            <input type="text" class="form-control" placeholder="Enter Russian name" name="russianName" id="newRussianName">
        </div>
        <div>
            <label for="newEnglishName">English name</label>
            <input type="text" class="form-control" placeholder="Enter English name" name="englishName" id="newEnglishName">
        </div>
        <div>
            <label for="newPopular">Popular</label>
            <input type="number" class="form-control" name="popular" id="newPopular">
        </div>
        <div>
            <button type="submit" class="btn btn-success mt-3">Add new Word</button>
        </div>
    </form>
</div>